langchain
langchain_community
langchain_huggingface
fastapi
langchain_core
langchain_groq
faiss-cpu
pypdf
python-dotenv
docx2txt
uvicorn
python-multipart
pymongo
pytesseract
pdf2image
pillow 
reportlab
pypdf2